.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.container__botao:checked ~ .container__rotulo> .cabeçalho__menu-hamburguer{
    background-image: url("../img/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo{
    background: var(--azul--marinho);
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container_imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    color: var(--azul--marinho);
    text-transform: uppercase;
    text-decoration: none;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none; /* Escondido por padrão */
}

.opções {
    display: none; /* Escondido por padrão */
}

.container__imagem-transparente {
    display: none; /* Escondido por padrão */
}
.container__texto{
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, 
    .container__titulo--negrito {
        font-family: var(--fonte-principal);
        font-size: 30px; 
        display: block; /* Exibido em telas maiores */
    }

    .opções {
        display: flex; /* Exibido em telas maiores */
    }

    .container__imagem-transparente {
        display: block; /* Exibido em telas maiores, se necessário */
    
}
.cabeçalho__menu-hamburguer{
    display: none;
}

.container__titulo {
    font-weight: 400;
}

.container__titulo--negrito {
    font-weight: 700;
}

.opções__item {
    padding: 0 1em;
    text-transform: uppercase;
}

.opções__link {
    text-decoration: none;
    color: black;
}
.opções__botão:checked ~ .lista-menu{
    display: block;
    width: auto;
}
.opções__botão{
    display: none;
}
.opções__botão:checked ~.opções__rotulo>.opções__item{
    background: var(--azul--marinho);
    color: var(--branco);
}
.opções__item{
    padding: 2em 1em;
}
.lista-menu__item:hover {
    background-color: var(--azul--marinho);
}
.lista-menu__item > .lista-menu__link{
    -webkit-text-fill-color:var(--branco) ;
    text-decoration: none;
}


}

@media screen and (min-width: 1728px){
   .container__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
   } 

   .cabeçalho{
    padding: 2em;
   }

   .opções{
    margin-right: auto;
   }
   .container__texto{
    display: block;
   }




}